body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: var(--white);
  font-size: var(--huge);
}

h5, h4 {
  font-size: var(--big);
}

h3 {
  font-size: var(--medium-big);
}


p {
  margin-bottom: 1em;
  color: black;
}

